<header class="header">
  <div class="header__logo">
    <img src="https://images.vexels.com/media/users/3/129607/isolated/preview/f526eafda1a791f4a93b1ad7c62161e5-burgers-logo-1-by-vexels.png" alt="" class="header__logo__image">
  </div>
  <div class="header__container">
    <div class="header__container__heading"> <img src="assets/images/headerText.png" > </div>
      <ul class="header__list">
          <li class="header__list__item" routerLinkActive="header__list__item--active" routerLink="/menu"> Menu </li>
          <li class="header__list__item" routerLinkActive="header__list__item--active" routerLink="/cart"> Cart </li>
        </ul>
  </div>
</header>
<div class="header__proxy"></div>